<%= render :partial => "shared/headerbar" %>
<%- title "Artists" %>
<div id="artists__title">Artists</div>
<div id="artists__container" class="list-template-container">
  <%= render :partial => "shared/listtemplate" %>
</div>
