<h1 style="position: absolute; left: 50%; transform: translateX(-50%); text-align: center;">You shouldn't be here<br>Try this instead</h1>
<iframe style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)" width="1200" height="800" src="https://www.youtube.com/embed/Bmz67ErIRa4" frameborder="0" allowfullscreen></iframe>
