<%= render :partial => "shared/headerbar" %>
<%- title "Styles" %>
<div id="styles__title">Styles</div>
<div id="styles__container" class="list-template-container">
  <%= render :partial => "shared/listtemplate" %>
</div>
