<%= render :partial => "shared/headerbar" %>

<div id="stylepage__initContainer">
  <div id="description">
    <div class="title">Description</div>
    <div class="infobox">
      <div class="text-container">
        <a id="artist-1"></a>
        <div class="info-border"></div>
        <a id="artist-2"></a>
        <div class="info-border"></div>
        <a id="artist-3"></a>
        <div class="info-border"></div>
        <a id="artist-4"></a>
      </div>
      <div class="image"></div>
    </div>
    <div class="name"></div>
  </div>
  <div id="collection">
    <div class="title">Collection</div>
    <div class="infobox">
      <div class="text-container">
        <div id="painting-title"></div>
        <div class="info-border"></div>
        <div id="painting-date"></div>
        <div class="info-border"></div>
        <div id="painting-style"></div>
        <div class="info-border"></div>
        <div id="painting-genre"></div>
      </div>
      <div class="image"></div>
    </div>
    <div class="name"></div>
  </div>
</div>
<div id="stylepage__descriptionContainer">
  <div id="stylepage__descriptionContent">
    <div class="nav-back">
      <svg width="30" height="30">
        <path d="M30 15 L 0 15 L 13 30 M0 15 L 13 0" fill="none" stroke="#AAA" stroke-width="1"/>
      </svg>
    </div>
    <div id="description-content-title"></div>
    <div id="description-text">

    </div>
  </div>
</div>
<div id="stylepage__collectionContainer">
    <div class="nav-back">
      <svg width="30" height="30">
        <path d="M30 15 L 0 15 L 13 30 M0 15 L 13 0" fill="none" stroke="#AAA" stroke-width="1"/>
      </svg>
    </div>
    <div id="collection__to-grid">
      <svg width="30" height="30">
      </svg>
    </div>
    <div id="collection__to-single">

    </div>
  <div id="collection__container">
    <div id="collection__panel-grid">
      <div id="collection__title">Collection</div>
      <div id="collection__images">
        <div class="image-col" id="image-col-0">

        </div>
        <div class="image-col" id="image-col-1">

        </div>
        <div class="image-col" id="image-col-2">

        </div>
        <div class="image-col" id="image-col-3">

        </div>
      </div>
    </div>
    <div id="collection__panel-single">

    </div>
  </div>
</div>
